@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
body{
    background-color:#E8E8E8;
}
h1{
    font-size: 50pt;
    font-weight:bold;
    color: black;
}
h2{
    font-size: 40pt;
    font-weight:bold;
    color: black;
}
h3{
    font-size: 30pt;
    line-height: 30pt;
    font-weight: bold;
    color: black;
}
h4{
    font-size: 20pt;
    line-height: 20pt;
    color: black;
}
p{
    font-size: 15pt;
}
/*header*/
header{
    margin: 0;
    padding: 0;
    background-color:#23384D;
    color: #99BADD;
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 999
}
.headernav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    margin-right: 2%;
    align-content: flex-start;
    justify-content: flex-start;
}
.navlogo{
    width: 10%;
    height: 100%;
    align-self:flex-start;
}
.logo{
    height: auto;
    max-height: 50px;
    max-width: 50px;
    margin-right: 30%;
}
.navbutton{
    display: table;
    margin: 0;
    text-align: center;
    align-self: flex-end;
    width: 18%;
    min-height: 100%;
    transition: all 400ms;
    position: relative;
}
.navbutton:hover, .navbutton:focus{
    background-color: #99BADD;
    color: black;
}
.navtext{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #99BADD;
    width: 100%;
    height: 100%;
}
.navtext:hover, .navtext:focus{
    color: black;
    font-weight: 900;
    outline: none;
}
.spacer{
    width: 100%;
    height: 50px;
}
.spacer2{
    width: 100%;
    height: 2.5vh;
}
/*footer*/
footer{
    width: 100%;
    margin: 0;
    margin-top: 2vh;
    padding: 0;
    height: 120px;
    background-color: #23384D;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.afooter{
    height: 120px;
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.afootertext{
    font-size: 30pt;
    color: #99BADD;
    letter-spacing: -3px;
    line-height: 30pt;
}
.bfooter{
    height: 120px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    align-content: center;
    justify-content: center;
}
.bfootertext{
    color: white;
    text-decoration: none;
    font-size: 10pt;
    margin-left: 3em;
}
a.bfootertext:hover, a.bfootertext:focus{
    text-decoration: underline;
}
.cfooter{
    height: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    grid-column-start: 3;
    grid-column-end: 4;
    padding-top: 2%;
}
.cfooterimg{
    height: 54px;
    margin-left: 1em;
}
/*footer desktop&tablet*/
@media only screen and (min-width: 650px){
    .afooter{
        align-content:flex-end;
        text-align: right;
        margin-right: .7em;
    }
    .bfootertext{
        margin: 0 auto;
    }
    .cfooter{
        flex-direction: row;
        margin-left: 0;
        align-items: center;
    }
}
/*homepage*/
.hero{
    width: 100%;
    height: 60vh;
    display: flex;
    margin: 0 auto 2vh auto;
    background-color: black;
}
.heroimg{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-image: url("images/header/actor.jpeg");
    background-size:cover;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 1vh;
}
.white{
    color: white;
    font-size: 6rem;
    font-weight:bolder;
    line-height: 5rem;
    justify-self: flex-end
}
.blue{
    color: #99BADD;
    font-size: 6rem;
    font-weight:bolder;
    line-height: 5rem;
    justify-self: flex-end;
}
.homebody{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.homecard{
    width: 80%;
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    padding-bottom: .25em;
}
.homecardimg{
    display: inline-block;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}
.homecardtext{
    text-align:justify;
    padding: .25em;
}
.homecardbutton{
    display: block;
    background-image: linear-gradient(-30deg, 
    #23384D 0% 40%,#99BADD 40% 100%);
    background-size: 350%;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    padding: 1rem;
    text-align: center;
    background-position: 0% 0%;
    transition: background-position 1s ease;
}
.homecardbutton:hover, .homecardbutton:focus{
    background-position: 100% 0%;
}
.homecardbuttontext{
    display: block;
    color: black;
    font-size: 15pt;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
    transition: 1s ease;
}
.homecardbuttontext:hover, .homecardbuttontext:focus{
    color: white;
}
.interest{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 2vh auto;
    text-align: center;
}
.actor{
    margin: auto;
    display: table;
    width: 12em;
    height: 12em;
    background-image: url("images/header/actor.jpeg");
    border-radius: 10px;
}
.technician{
    margin: auto;
    width: 12em;
    height: 12em;
    display: table;
    background-image: url("images/header/technician.jpg");
    background-size: cover;
    border-radius: 10px;
}
.interesttext{
    display: table-cell;
    vertical-align: middle;
    color: white;
    -webkit-text-stroke: .1px black;
    font-size: 20pt;
    text-decoration: none;
}
.interesttext:hover, .interesttext:focus{
    text-decoration: underline white;
}
/*homepage tablet*/
@media only screen and (min-width: 800px){
    .homebody{
        width: 100%;
        grid-template-columns: 5fr 3fr;
        display: grid;
    }
    .homecard{
        grid-column-start: 1;
        grid-column-end: 2;
        width: 90%;
        margin-right: 0;
    }
    .interest{
        flex-direction: column;
    }
    .actor, .technician{
        width: 12em;
        height: 12em;
        grid-column-start: 2;
        grid-column-end: 3;
        margin-left: 10vw;
    }
}
/*homepage desktop*/
@media only screen and (min-width: 1000px){
    .homebody{
        grid-template-columns: 2fr 1fr;
    }
    .homecard{
        margin-right: 0;
        width: 70%;
    }
    .actor, .technician{
        margin-right: 15vw
    }
}

/*current show page*/
.graphic{
    width: 95%;
    max-height: 60vh;
    border-radius: 10px;
    margin: 2vh auto;
}
.graphicimg{
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    max-height: 60vh;
    border-radius: 10px;
}
.showcontainer{
    width: 100%;
}
.ticketinfo{
    width: 95%;
    margin: auto;
    margin-bottom: 2vh;
    border-radius: 8px;
    background-color: #99BADD;
    padding: 5px;
}
.tickettext{
    text-align: center;
}
.buybutton{
    display: block;
    background-image: linear-gradient(-30deg, 
    #23384D 0% 40%,white 40% 100%);
    background-size: 350%;
    border-radius: 10px;
    width: 50%;
    margin: 2% auto 0 auto;
    padding: 1rem;
    text-align: center;
    background-position: 0% 0%;
    transition: background-position 1s ease;
    text-align: center;
}
.buybutton:hover, .buybutton:focus{
    background-position: 100% 0%;
}
.buybuttontext{
    display: block;
    color: black;
    font-size: 15pt;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
    transition: 1s ease;
}
.buybuttontext:hover, .buybuttontext:focus{
    color: white;
}
.showtextcontainer{
    width: 98%;
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.showtext{
    text-align: left;
}
p.showtext{
    text-align: justify
}
.digitalprogram{
    display: block;
    background-image: linear-gradient(-30deg, 
    #99BADD 0% 40%,#23384D 40% 100%);
    background-size: 350%;
    border-radius: 10px;
    width: 70%;
    margin: 2% auto 0 auto;
    padding: 1rem;
    text-align: center;
    background-position: 0% 0%;
    transition: background-position 1s ease;
    text-align: center;
}
.digitalprogram:hover, .digitalprogram:focus{
    background-position: 100% 0%;
}
.programtext{
    display: block;
    color: white;
    font-size: 15pt;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
    transition: 1s ease;
}
.programtext:hover, .programtext:focus{
    color: black;
}
.gallerytext{
    margin-left: 3%;
    margin-top: 2vh;
}
.showgallery{
    background-color: #99BADD;
    display: table;
    width: 95%;
    margin: 2vh auto;
    height: 60vh;
    border: 2px black solid;
    border-radius: 10px;
}
.showgallerytext{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
/*current show tablet*/
@media only screen and (min-width: 800px){
    .graphic{
        width: 70%;
    }
    .showcontainer{
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .ticketinfo{
        grid-column-start: 2;
        grid-column-end: 3;
        width: 95%;
        margin: auto;
        grid-row-start: 1;

    }
    .buybutton{
        width:90%
    }
    .showtextcontainer{
        grid-column-start: 1;
        grid-column-end: 2;
        width: 90%;
        grid-row-start: 1;
    }
    .digitalprogram{
        width: 95%;
        margin: auto;
        margin-top: 2vh;
    }
}

/*getinvolved*/
.involvedinterest{
    display: flex;
    flex-direction: row;
    margin: 2vh auto;
    gap: 15%;
    text-align: center;
}
.iactor{
    margin-left: auto;
    display: table;
    width: 12em;
    height: 12em;
    background-image: url("images/header/actor.jpeg");
    border-radius: 10px;
}
.itechnician{
    margin-right: auto;
    width: 12em;
    height: 12em;
    display: table;
    background-image: url("images/header/technician.jpg");
    background-size: cover;
    border-radius: 10px;
}
.involved{
    width: 98%;
    margin: 2vh auto;
}
.involvedtext{
    text-align: left;
    margin-bottom: 1vh;
}
h3.involvedtext{
    text-align: center;
}
a.involvedtext{
    text-decoration: none;
}
a.involvedtext:hover, a.involvedtext:focus{
    text-decoration: underline;
}
.involvedbutton{
    display: block;
    background-image: linear-gradient(-30deg, 
    #99BADD 0% 40%,#23384D 40% 100%);
    background-size: 350%;
    border-radius: 10px;
    width: 70%;
    margin: 1vh auto 4vh auto;
    padding: 1rem;
    text-align: center;
    background-position: 0% 0%;
    transition: background-position 1s ease;
    text-align: center;
}
.involvedbutton:hover, .involvedbutton:focus{
    background-position: 100% 0%;
}
.involvedbuttontext{
    display: block;
    color: white;
    font-size: 15pt;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
    transition: 1s ease;
}
.involvedbuttontext:hover, .involvedbuttontext:focus{
    color: black;
}

/*prevseasons*/
.prevyears{
    width: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.3vw;
}
.show{
    width: 225px;
    height: 225px;
    background-size: cover;
    margin: 2vh auto;
    position: relative;
}
.showimg{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.placeholder{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #23384D
}
.nametag{
    position: absolute;
    top: 90%;
    width: 90%;
    height: 45px;
    left: 5%;
    margin: 0 auto 2vh auto;
    margin-bottom: 2vh;
    background-image: linear-gradient(-30deg, 
    #23384D 0% 40%,white 40% 100%);
    background-size: 350%;
    background-position: 0% 0%;
    text-align: center;
    border-radius: 5px;
    border: black 1px solid;
    transition: 1s ease;
}
.nametag:hover{
    background-position: 100% 0%;
}
.nametagtext{
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 12pt;
    transition: 1s ease;
}
.nametagtextsmall{
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 10pt;
    transition: 1s ease;
}
.nametagtext:hover, .nametagtextsmall:hover, .nametag:focus, .nametagtextsmall:focus{
    color: white;
}
/*whoarewe*/
.missionstatement{
    background-color: #99BADD;
    width: 95%;
    padding: 1vh;
    margin: 2vh auto;
    border-radius: 10px;
}
.statementtext{
    text-align:center;
    margin-bottom: 1.5vh;
}
.execboard{
    width: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
    margin: auto;
    margin-bottom: 5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.3vw;
}
.exectext{
    width: 100%;
    text-align: center;
    margin-bottom: 1vh;
}
.boardmember{
    margin: auto;
}
.boardimg{
    width: 225px;
    height: 225px;
    border-radius: 8px;
}
.boardtext{
    text-align: center;
    font-size: 15pt;
}
.boardtextsmall{
    text-align: center;
    font-size: 12pt;
}
